@import '../../sass/mixins';

.task {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    padding: 12px;                                                                                                                                                                                                   

    &-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-actions {
        &-btn {
            @include init-button();
            padding: 16px;
            background-color: rgba(255, 255, 255, 0.25);
            border-radius: 500px;
        }
    }

    &-body {
        width: 100%;
    }

    &-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-assignee,
    &-date {
        width: 50%;
        height: 48px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}